Calculator/.idea/vcs.xml
Demo/temp.txt
Calculator/temp.txt
Calculator/old.txt
Calculator/.idea/modules.xml
Calculator/.idea/Calculator.iml
Calculator/.idea/workspace-DESKTOP-DAVIDE.xml
Calculator/.idea/workspace-MacBook Air di Davide.xml
Calculator/.idea/workspace-DESKTOP-DAVIDE-2.xml
